.checker {
    width: 10vw;
    height: 10vw;
    max-width: 10vh;
    max-height: 10vh;
    border-radius: 50%;
    border: 1px solid black;
    z-index:1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.checker.black {
    background-color: black;
    border-color: white;
}

.checker.white {
    background-color: white;
}

.checker.red {
    background-color: red;
}

.checker.selected {
    border: 3px solid blue;
}